<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<body th:fragment="reviewsFr">
<form  action="messageAdd?reviews1=reviews">
    <table align="center" >
        <tr>
            <td width="400px">
                <p>Отзыв:</p>
            </td>
            <td width="400px">
                <p>Автор</p>
            </td>

        <tr>
            <td width="400px">

                <input type="reviews1" name="reviews"
                       placeholder="Введите ваше сообщение" required="true"/>
            <td> <input type="submit"value="Отправить"/></td>
            </td>
        </tr>
        <tr th:each="rev : ${reviews}" >
            <td width="400px" th:utext="${rev.reviewsOp}"></td>
            <td width="400px" th:utext="${rev.authorReviews}"></td>
        </tr>

    </table>
</form>
</body>
</html>