<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<body th:fragment="upMenu">

<div class="row upMenu">
    <div class="namePage">
        <h4 th:text="${namePage}"></h4>
    </div>
    <div class="span6">
        <ul class="displayInline">
            <li class="displayInline">
                <form class="displayInline" action="users">
                    <button type="submit" class="btn btn-outline-info">Преподавателям</button>
                </form>
            </li>
            <li class="displayInline" sec:authorize="!isAuthenticated()">
                <form class="displayInline" action="course">
                    <button type="submit" class="btn btn-success">Войти</button>
                </form>
            </li>
            <li class="displayInline" sec:authorize="!isAuthenticated()">
                <form class="displayInline" action="registration">
                    <button type="submit" class="btn btn-success">Зарегистироваться</button>
                </form>
            </li>
            <li class="displayInline" sec:authorize="isAuthenticated()">
                <form class="displayInline" action="logout">
                    <button type="submit" class="btn btn-success">Выйти</button>
                </form>
            </li>
        </ul>

        <span class="userName" sec:authorize="isAuthenticated()" sec:authentication="name"></span>
    </div>
<!--                                    кнопки работающие                    -->

    <!--<form action="users">-->
        <!--<button type="button" class="btn btn-outline-info">Преподавателям</button>-->
    <!--</form>-->
    <!--<form action="course">-->
        <!--<button sec:authorize="!isAuthenticated()" type="button" class="btn btn-success"></button>-->
    <!--</form>-->
    <!--<form action="registration">-->
        <!--<button sec:authorize="!isAuthenticated()" type="button" class="btn btn-success">Зарегистироваться</button>-->
    <!--</form>-->
    <!--<form action="logout">-->
        <!--<button sec:authorize="isAuthenticated()" type="button" class="btn btn-success">Выйти</button>-->
    <!--</form>-->
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>