<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
</head>

<body th:replace="fragments/menu :: menu"></body>

<body>

<form action="adminR" method="post">
    <p>[[${messages}]]</p>
    <label>Username</label>-->
    <input type="text" name="username" id="username1"
           placeholder="UserName" required="true" autofocus="true"/>
    <label>Password</label>
    <input type="password" name="password" id="password"
           placeholder="Password" required="true"/>
    <div align="center">
        <input type="submit" value="Регистрация преподователь"/>
    </div>
</form>

</body>
</html>