<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
</head>
<body th:replace="fragments/upMenu :: upMenu"></body>
<body th:replace="fragments/homeMenu :: homeMenu"></body>

<body class="login-page">

<div class="scroll">
    <main>
        <div class="login-block">
            <!--        <img src="1.png" alt="Scanfcode">-->
            <h1>Введите свои данные</h1>
            <h4 style="color: #dd3333" th:text="${messages}"></h4>
            <form action="adminR" method="post">
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-user ti-user"></i></span>
                        <input type="text" name="username" id="username" class="form-control" placeholder="Ваш логин">
                    </div>
                </div>

                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-user ti-user"></i></span>
                        <input type="text" name="fio" id="fio" class="form-control" placeholder="Ваши Фамилия, Имя, Отчество">
                    </div>
                </div>

                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-user ti-user"></i></span>
                        <input type="text" name="phone" id="phone" class="form-control" placeholder="Ваш телефон">
                    </div>
                </div>

                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-user ti-user"></i></span>
                        <input type="text" name="email" id="email" class="form-control" placeholder="Ваша почта">
                    </div>
                </div>

                <hr class="hr-xs">

                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-lock ti-unlock"></i></span>
                        <input type="password" name="password" id="password" class="form-control" placeholder="Ваш пароль">
                    </div>
                </div>

                <button class="btn btn-primary btn-block" type="submit">Зарегистрироваться</button>

                <!--            форма для входа через соцсети-->

                <!--            <div class="login-footer">-->
                <!--                <h6>или войдите с помощью</h6>-->
                <!--                <ul class="social-icons">-->
                <!--                    <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>-->
                <!--                    <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>-->
                <!--                    <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>-->
                <!--                </ul>-->
                <!--            </div>-->

            </form>
        </div>

        <div class="login-links">
            <p class="text-center">Уже есть аккаунт? <a class="txt-brand" href="login"><font color=#29aafe>Авторизуйся</font></a></p>
        </div>
    </main>
</div>

</body>
</html>