<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" xmlns:height="http://www.w3.org/1999/xhtml">

<head th:replace="fragments/head :: head"></head>
<title>Контакты</title>
<body th:replace="fragments/upMenu :: upMenu"></body>
<body th:replace="fragments/homeMenu :: homeMenu"></body>
<script src="js/postContacts.js"></script>
<script src="js/contacts.js"></script>
<body>
<div class="scroll">
    <div align="center" class="contacts">
        <h1>Свяжитесь с нами</h1>
        <div class="txtCont">
            <h4>
                Мы всегда готовы вам помочь и ответить на любой интересующий вас вопрос.
                Для этого обратитесь в службу поддержки через чат на сайте или напишите письмо
                на почту: MentorWeb.IS@yandex.ru. Вы получите ответ в течение нескольких часов.
                А также, если вы авторизованы, то можете отправить сообщение напрямую администрации сервиса прямо в этом разделе.
            </h4>
        </div>

    </div>

    <div class="contactsForm" id="contactsFormGeneral" sec:authorize ="isAuthenticated()">
        <form id="contactsForm">
            <textarea name="message" id="contactsText" maxlength="1000" class="contactsInput" placeholder="Введите сообщение" autocomplete="off" required></textarea>
            <button onclick="SentMessage()" class="contactsBtn btn btn-success" value="Отправить">Отправить</button>
        </form>
    </div>
</div>

</body>
</html>