<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" xmlns:height="http://www.w3.org/1999/xhtml">


<head th:replace="fragments/head :: head"></head>
<head th:replace="fragments/style :: style">
<body th:replace="fragments/upMenu :: upMenu"></body>
<body th:replace="fragments/homeMenu :: homeMenu"></body>
<body>
<div align="center" class="contacts">
    <h1>Свяжитесь с нами</h1>
    <div class="txtCont">
        <h4>
            Мы всегда готовы вам помочь и ответить на любой интересующий вас вопрос.
            Для этого обратитесь в службу поддержки через чат на сайте или напишите письмо
            на почту: MentorWeb.IS@yandex.ru. Вы получите ответ в течение нескольких часов.
            Отправить сообщение напрямую администрации сервиса можно в этом разделе.
        </h4>
    </div>

</div>

<div class="withoutMenu">
    <div class="contactsForm">
        <form id="contactsForm">
            <textarea id="contactsText" maxlength="1000" class="contactsInput" placeholder="Введите сообщение" autocomplete="off" required></textarea>
            <input class="contactsBtn btn btn-success" type="submit" value="Отправить"/>
        </form>
    </div>
</div>

<script>
    document.body.onkeydown = function(event) {
        var e = event || window.event;
        var code = e.keyCode || e.which;
        var activeEl = document.activeElement.id;
        if(code === 13 && activeEl === "contactsText") {
            activeEl.style.readonly = 1;
            var text_redirect = document.getElementById('contactsText').value;
            text_redirect = text_redirect.replace(/^\s+/, "");
            if(text_redirect !== "") {
                document.getElementById('contactsForm').submit();
            } else {
                alert("ЗАПОЛНИТЕ ФОРМУ!");
            }
        }
    };
    document.body.onkeydown = function(event) {
        var e = event || window.event;
        var code = e.keyCode || e.which;
        var activeEl = document.activeElement.id;
        if(code === 13 && e.ctrlKey) {
            if(activeEl === "contactsText") {
                document.getElementById('contactsText').value += "\n";
            } else {
                return false;
            }
        } else if(code === 13 && activeEl === "contactsText") {
            var text_redirect = document.getElementById('contactsText').value;
            text_redirect = text_redirect.replace(/^\s+/, "");
            if(text_redirect !== "") {
                document.getElementById('contactsForm').submit();
            } else {
                return false;
            }
        }
    }
</script>


<!--<div class="container">-->

    <!--<h3 style="color:blue">POST-GET AJAX Example</h3>-->

    <!--<div>-->
        <!--<form class="form-inline" style="margin:20px 20px 20px 20px" id="customerForm">-->
            <!--<div class="form-group">-->
                <!--<label for="firstname" style="margin-right:5px">FirstName:</label>-->
                <!--<input type="text" class="form-control" id="firstname" placeholder="Enter FirstName"/>-->
            <!--</div>-->
            <!--<div class="form-group">-->
                <!--<label for="lastname" style="margin-left:20px; margin-right:5px">LastName:</label>-->
                <!--<input type="text" class="form-control" id="lastname" placeholder="Enter LastName"/>-->
            <!--</div>-->
            <!--<button type="submit" class="btn btn-default" style="margin-left:20px; margin-right:5px">Submit</button>-->
        <!--</form>-->
    <!--</div>-->

    <!--<div class="col-sm-7" id="postResultDiv">-->
    <!--</div>-->

    <!--<div class="col-sm-7" style="margin:20px 0px 20px 0px">-->
        <!--<button id="getAllCustomerId" type="button" class="btn btn-primary">Get All Customers</button>-->
        <!--<div id="getResultDiv" style="padding:20px 10px 20px 50px">-->
            <!--<ul class="list-group">-->
            <!--</ul>-->
        <!--</div>-->
    <!--</div>-->

<!--</div>-->

</body>
</html>