<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" xmlns:height="http://www.w3.org/1999/xhtml">


<head th:replace="fragments/head :: head"></head>
<head th:replace="fragments/style :: style">
<body th:replace="fragments/upMenu :: upMenu"></body>
<body th:replace="fragments/homeMenu :: homeMenu"></body>
<body>
<div align="center" class="contacts">
    <h1>Свяжитесь с нами</h1>
    <div class="txtCont">
        <h4>
            Мы всегда готовы вам помочь и ответить на любой интересующий вас вопрос.
            Для этого обратитесь в службу поддержки через чат на сайте или напишите письмо
            на почту: MentorWeb.IS@yandex.ru. Вы получите ответ в течение нескольких часов.
            Отправить сообщение напрямую администрации сервиса можно в этом разделе.
        </h4>
    </div>

</div>


</body>
</html>