<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml"
      xmlns:https="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/head :: head"></head>
<title>Страница курса</title>
<!--<body th:replace="fragments/menu :: menu"></body>-->
<body th:replace="fragments/upMenu :: upMenu"></body>
<body th:replace="fragments/homeMenu :: homeMenu"></body>

<body>

<div class="formCourse" th:each="cors : ${CourseDataEdit}">
    <form method="post" class="courseForm" action="CourseEdit?courseName1=courseName&description1=description&region1=region&price1=price&priceType1=priceType&format1=format">
        <h4>Название курса</h4>
        <input type="courseName1" name="courseName" th:attr="value=${cors.courseName}" class="form-control inputField" id="courseName" autocomplete="off" placeholder="Введите название курса" required>
        <h4 style="color: #dd3333" th:text="${CourseMessage}"></h4>
        <h4>Описание курса</h4>
        <textarea maxlength="1700" type="description1" name="description"  class="formCourseinputDescription form-control inputField" id="description" autocomplete="off" placeholder="Введите описание курса" required>[[${cors.description}]]</textarea>

        <h4>Область курса</h4>
        <input type="region1" name="region" th:attr="value=${cors.region}" class="formCourseinputText form-control inputField" id="region" autocomplete="off" placeholder="Введите область курса (например, программирование, математика, музыка, фитнес)" required>

        <h4>Формат проведения</h4>
        <label><input class="courseCheck-box" type="radio" checked name="format" value="Онлайн" id="online"/>Онлайн</label>
        <label><input class="courseCheck-box" type="radio" name="format" value="Оффлайн" id="offline"/>Оффлайн</label>

        <h4>Стоимость</h4>
        <input type="price1" name="price" th:attr="value=${cors.price}" class="formCourseinputText form-control inputField" id="price" autocomplete="off" placeholder="Введите стоимость" required>
        <label><input class="courseCheck-box" type="radio" checked name="priceType" value="Каждого занятия" id="eachLesson"/>Каждого занятия</label>
        <label><input class="courseCheck-box" type="radio" name="priceType" value="Всего курса в целом" id="allCourse"/>Всего курса в целом</label>
        <h4 style="color: #dd3333" th:text="${messageC}"></h4>
        <input class="formCourseinput btn btn-success" type="submit" value="Сохранить изменения"/>
    </form>
    <form class="displayInline" th:action="@{'/SCourse={id}'(id=${cors.id})}">
        <button type="submit" class="btn btn-outline-info buttonTheme2">Перейти на курс</button>
    </form>
    <script th:inline="javascript">
        function courseEdit() {
            var online = document.getElementById("online");
            var offline = document.getElementById("offline");
            var eachLesson = document.getElementById("eachLesson");
            var allCourse = document.getElementById("allCourse");

            var format = [[${cors.format}]];
            var priceType = [[${cors.priceType}]];

            if(format.toString() === "Онлайн")
            {
                online.checked = true;
            }
            else
            {
                offline.checked = true;
            }
            if(priceType.toString() === "Каждого занятия")
            {
                eachLesson.checked = true;
            }
            else
            {
                allCourse.checked = true;
            }
        }
        courseEdit();
    </script>
</div>



</body>
</html>