<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/head :: head"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
</head>
<head th:replace="fragments/style :: style">
<!--<body th:replace="fragments/menu :: menu"></body>-->
<body th:replace="fragments/upMenu :: upMenu"></body>
<body th:replace="fragments/homeMenu :: homeMenu"></body>
<body>

    <div class="formCourse">

        <table>
            <tr>
                <th>
                    <form action="addCourse?courseName1=courseName&description1=description&forUser1=forUser">
                        <div>
                            <div>
                                <label for="courseName" class="h4">Название курса</label>
                                <input type="courseName1" name="courseName" class="form-control" id="courseName" placeholder="Введите название курса" required>

                                <label for="description" class="h4">Описание курса</label>
                                <input type="description1" name="description" class=" formCourseinputText form-control" id="description" placeholder="Введите описание курса" required>

                            </div>
                        </div>

                        <input class="formCourseinput" type="submit"value="Добавить"/>
                    </form>
                </th>

                <th>
                    <form>
                        <label for="cour" class="h4">Занятия</label>
                        <input type="cour" name="cour" class="form-control" id="cour" placeholder="Введите название курса" required>
                    </form>
                </th>
            </tr>
        </table>



    </div>


</body>
</html>