<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/head :: head"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
</head>
<head th:replace="fragments/style :: style">
<!--<body th:replace="fragments/menu :: menu"></body>-->
<body th:replace="fragments/upMenu :: upMenu"></body>
<body th:replace="fragments/homeMenu :: homeMenu"></body>
<body>

    <div class="formCourse">
        <form action="addCourse?courseName1=courseName&description1=description&forUser1=forUser">
            <h4>Название курса</h4>
            <input type="courseName1" name="courseName" class="form-control" id="courseName" placeholder="Введите название курса" required>

            <h4>Описание курса</h4>
            <input type="description1" name="description" class=" formCourseinputDescription form-control" id="description" placeholder="Введите описание курса" required>

            <h4>Область курса</h4>
            <input type="description1" name="description" class=" formCourseinputText form-control" id="description" placeholder="Введите область курса (например, программирование, математика, музыка, фитнес)" required>

            <h4>Формат проведения</h4>
            <label><input class="courseCheck-box" type="radio" checked name="online"/>Онлайн</label>
            <label><input class="courseCheck-box" type="radio" name="online"/>Оффлайн</label>

            <h4>Стоимость</h4>
            <input type="description1" name="description" class=" formCourseinputText form-control" id="description" placeholder="Введите стоимость" required>
            <label><input class="courseCheck-box" type="radio" checked name="price"/>Каждого занятия</label>
            <label><input class="courseCheck-box" type="radio" name="price"/>Всего курса в целом</label>

            <input class="formCourseinput" type="submit"value="Добавить"/>
        </form>
    </div>


</body>
</html>