<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="fragments/head :: head"></head>
<title>Преподавателям</title>
<body th:replace="fragments/upMenu :: upMenu"></body>
<body th:replace="fragments/homeMenu :: homeMenu"></body>
<body>

<div class="lndPrep">

    <h1>Зарабатывайте вместе с нами</h1>
    <h2>Три простых шага, чтобы начать зарабатывать с Mentor</h2>
    <table>
        <tr>
            <th><img src="https://img.icons8.com/nolan/96/check-file.png"></th>
            <th><img src="https://img.icons8.com/nolan/96/courses.png"></th>
            <th><img src="https://img.icons8.com/nolan/96/technical-support.png"></th>
        </tr>
        <tr>
            <th>Зарегистрируйтесь и заполните анкету преподавателя</th>
            <th>Создайте один или несколько курсов</th>
            <th>Начните принимать заявки</th>
        </tr>
    </table>

    <div style="height: 290px"></div>

    <table class="secondLndPrepTable">
        <tr>
            <th><img src="https://img.icons8.com/nolan/96/star.png"></th>
            <th><img src="https://img.icons8.com/nolan/96/question-mark.png"></th>
        </tr>
        <tr>
            <th>Повышайте свой личный рейтинг</th>
            <th>Пишите свои вопросы и предложения</th>
        </tr>
        <tr>
            <th class="lndDescription">Зарабатывайте положительные отзывы и получайте высокие оценки, чтобы впоследствии получать больше заказов по более высоким ценам</th>
            <th class="lndDescription">Мы всегда открыты к диалогу с вами и готовы ответить в любое время</th>
        </tr>
    </table>
    <table class="secondLndPrepTable">
        <tr>
            <th><img src="https://img.icons8.com/nolan/96/rules.png"></th>
            <th><img src="https://img.icons8.com/nolan/96/average.png"></th>
        </tr>
        <tr>
            <th>Вы сами устанавливаете правила занятий</th>
            <th>Вы сами устанавливаете цену занятий</th>
        </tr>
        <tr>
            <th class="lndDescription">Работайте онлайн или оффлайн, индивидуально или в группах, одиночными занятиями или курсами</th>
            <th class="lndDescription">Мы не берем комиссию с преподавателей. Вы получите ровно столько, сколько заплатят ваши студенты</th>
        </tr>
    </table>

    <div class="lndBottom"></div>

</div>

</body>
</html>