<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<title>Помощь</title>
    <!--<body th:replace="fragments/menu :: menu"></body>-->
<body th:replace="fragments/upMenu :: upMenu"></body>
<body th:replace="fragments/homeMenu :: homeMenu"></body>
<script src="/js/postHelp.js"></script>
<script src="/js/getHelp.js"></script>
<body>

<div class="reviews" id="getResultHelp">
    <div class="spinner-border text-light spinnerMessage" role="status" id="loading">
        <span class="sr-only">Loading...</span>
    </div>
</div>

<div class="reviewEnter" id="reviewEnter">
    <div class="reviewWrite">
        <form id="customerForm">
            <textarea id="message" maxlength="1000" type="message1" name="message" class="reviewWriteArea" placeholder="Введите сообщение" autocomplete="off" required></textarea>
            <button class="msg_send_btn" type="submit"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
        </form>
    </div>
</div>

</body>
</html>