<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<div class="back">

    <body th:replace="fragments/menu :: menu"></body>

    <table align="left" width="35%">
        <tr>
            <td align="center"><p class="text">Лучшие</p></td>
        </tr>
        <tr>
            <td align="center"><p class="text">преподаватели</p></td>
        </tr>
        <tr>
            <td align="center"><p class="text">со всего мира</p></td>
        </tr>
        <tr>
            <td align="center"><p class="text">уже здесь!</p></td>
        </tr>
    </table>
</div>

</body>
</html>