<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" xmlns:height="http://www.w3.org/1999/xhtml">


<head th:replace="fragments/head :: head"></head>
<head th:replace="fragments/style :: style">
<body th:replace="fragments/homeMenu :: homeMenu"></body>
<body>

<div>
    <H1 style="color: white; margin-left: 230px">Страница находится в разработке! Уйдите!!!</H1>
</div>

<!--<table >-->
<!--    <tr>-->
<!--        <td>-->
<!--            <div class="topmenu">-->
<!--                <div class="widget">-->
<!--                    <h3>Mentor</h3>-->
<!--                    <ul>-->
<!--                        <li><a href="">Главная</a></li>-->
<!--                        <li><a href="">Личный кабинет</a></li>-->
<!--                        <li><a href="">Сообщения</a></li>-->
<!--                        <li><a href="">Пользователи</a></li>-->

<!--                    </ul>-->
<!--                </div>-->
<!--            </div>-->
<!--        </td>-->
<!--        <td>-->

<!--        </td>-->
<!--    </tr>-->
<!--</table>-->

<!--<div class="fon1">-->


<!--</div>-->

<!--<div class="fon2">-->



<!--        <div class="container">-->

<!--            <div class="row justify-content-md-center">-->
<!--                <div class="col-4">-->
<!--                    <div class="k1"></div>-->
<!--                </div>-->
<!--                <div class="col-4">-->
<!--                    <div class="k2"></div>-->
<!--                </div>-->
<!--                <div class="col-3">-->
<!--                    <div class="k3"></div>-->
<!--                </div>-->
<!--            </div>-->

<!--            <div class="row justify-content-md-center">-->
<!--                <div class="col-4">-->
<!--                    <div class="k4"></div>-->
<!--                    &lt;!&ndash;                    <img src="https://sun9-51.userapi.com/c206620/v206620686/1fe5/tp598CYIj_w.jpg">&ndash;&gt;-->
<!--                </div>-->
<!--                <div class="col-4">-->
<!--                    <div class="k5"></div>-->
<!--                    &lt;!&ndash;                    <img src="https://sun9-3.userapi.com/c206620/v206620686/1fde/lxur2NzSgs8.jpg">&ndash;&gt;-->
<!--                </div>-->
<!--                <div class="col-3">-->
<!--                    <div class="k6"></div>-->
<!--                    &lt;!&ndash;                    <img src="https://sun9-56.userapi.com/c206620/v206620686/1fd7/DNkfDMoI5eA.jpg">&ndash;&gt;-->
<!--                </div>-->
<!--            </div>-->

<!--        </div>-->

<!--</div>-->

<!--<div class="fon3">-->


<!--</div>-->

<!--<div class="fon4">-->


<!--</div>-->

<!--<div class="fon5">-->
<!--    <form th:align="center">-->
<!--    <div class="container">-->

<!--            <div class="row justify-content-md-center">-->
<!--                <div class="col-6">-->
<!--                    <div class="p1"></div>-->
<!--                    &lt;!&ndash;                    <img src="https://sun9-46.userapi.com/c206620/v206620686/1fd0/pojcvVpHWVU.jpg">&ndash;&gt;-->
<!--                </div>-->
<!--                <div class="col-4">-->
<!--                    <div class="p2"></div>-->
<!--                    &lt;!&ndash;                    <img src="https://sun9-56.userapi.com/c206620/v206620686/1fd7/DNkfDMoI5eA.jpg">&ndash;&gt;-->
<!--                </div>-->
<!--            </div>-->

<!--            <div class="row justify-content-md-center">-->
<!--                <div class="col-6">-->
<!--                    <div class="p3"></div>-->
<!--                    &lt;!&ndash;                    <img src="https://sun9-51.userapi.com/c206620/v206620686/1fe5/tp598CYIj_w.jpg">&ndash;&gt;-->
<!--                </div>-->
<!--                <div class="col-4">-->
<!--                    <div class="p4"></div>-->
<!--                    &lt;!&ndash;                    <img src="https://sun9-3.userapi.com/c206620/v206620686/1fde/lxur2NzSgs8.jpg">&ndash;&gt;-->
<!--                </div>-->
<!--            </div>-->

<!--        </div>-->
<!--    </form>-->
<!--</div>-->

<!--<div class="fon6">-->
<!--    <div>-->
<!--        <div align="center">-->
<!--            <i style="font-size: 72px; color: MediumBlue">Кому подходит наша площадка?</i>-->
<!--        </div>-->

<!--        <img width="100%" src="https://sun9-3.userapi.com/c857720/v857720967/11825b/9A3FvIg2RQ4.jpg">-->
<!--        <div align="center">-->
<!--            <i style="font-size: 72px; color: MediumBlue">Людям всех возрастов и из любых стран!</i>-->
<!--        </div>-->
<!--    </div>-->

<!--</div>-->

<!--<div class="fon7">-->

<!--</div>-->


</body>
</html>