<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<title>Вход</title>
<body th:replace="fragments/upMenu :: upMenu"></body>
<body th:replace="fragments/homeMenu :: homeMenu"></body>

<body class="login-page">

<div class="scroll">
    <main>
        <div class="login-block">
            <h1 th:text="${message}"></h1>
            <h1>Введите свои данные</h1>
            <form action="login" method="post">
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-user ti-user"></i></span>
                        <input type="text" name="username" id="username" class="form-control" placeholder="Ваш логин">
                    </div>
                </div>

                <hr class="hr-xs">

                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-lock ti-unlock"></i></span>
                        <input type="password" name="password" id="password" class="form-control" placeholder="Ваш пароль">
                    </div>
                </div>

                <button class="btn btn-primary btn-block" type="submit">Войти</button>
                <!--<div class="login-footer">-->
                    <!--<h6>или войдите с помощью</h6>-->
                    <!--<ul class="social-icons">-->
                        <!--<li><a class="google" href="google"><i class="fa fa-facebook"></i></a></li>-->
                        <!--<li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>-->
                        <!--<li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>-->
                    <!--</ul>-->
                <!--</div>-->

            </form>
        </div>

        <div class="login-links">
            <p class="text-center">Еще нет аккаунта? <a class="txt-brand" href="registration"><font color=#29aafe>Регистрируйся</font></a></p>
        </div>
    </main>
</div>

</body>
</html>