<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
</head>

<body th:replace="fragments/menu :: menu"></body>
<nav>
    <ul>
        <!--        <li><a th:href="@{'/FilterUsernameUser/{username}'(username=${#httpServletRequest.remoteUser})}">Личный кабинет</a></li>-->
        <li><a href="NoAuthHome">Home</a></li>

        <!--        <li><a href="/registration">регистрация</a></li>-->
    </ul>
</nav>

<body>



<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>


<form action="login" method="post">
    <label>Username</label>-->
    <input type="text" name="username" id="username"
           placeholder="UserName" required="true" autofocus="true"/>
    <label>Password</label>
    <input type="password" name="password" id="password"
           placeholder="Password" required="true"/>
    <div align="center">
        <input type="submit"value="Войти"/>
    </div>
</form>

</body>
</html>