<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">

</head>
<head th:replace="fragments/style :: style">
<!--<body th:replace="fragments/menu :: menu"></body>-->
<body th:replace="fragments/homeMenu :: homeMenu"></body>

<body>

<div class="topmenu">
    <div class="widget_message">
        <ul>
            <li th:each="mesU : ${messageU}">
                <div class="chat_list">
                    <div class="chat_people">
                        <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                        <div class="chat_ib">
                            <a th:href="@{'/messageU/{recipient}#endpage'(recipient=${mesU.username})}" class="username_msg">
                                <h5 th:utext="${mesU.username}" class="username_msg">Sunil Rajput <span class="chat_date">Dec 25</span></h5>
                            </a>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>

</div>
<div class="mesgs">
    <div class="msg_history">

        <div th:each="mesS : ${messageS}">
            <div th:if="${mesS.sender != #httpServletRequest.remoteUser}" class="received_msg" >
                <div class="received_withd_msg">
                    <p th:utext="${mesS.message}">Apollo University, Delhi, India Test</p>
                    <span class="time_date" th:utext="${mesS.date}"> 11:01 AM    |    Today</span> </div>
            </div>

            <div th:if="${mesS.sender == #httpServletRequest.remoteUser}" class="outgoing_msg" >
                <div class="sent_msg">
                    <p th:utext="${mesS.message}">Apollo University, Delhi, India Test</p>
                    <span class="time_date" th:utext="${mesS.date}"> 11:01 AM    |    Today</span> </div>
            </div>
        </div>
        <span id="endpage"></span>
    </div>

    <form action="messageAdd?message1=message#endpage">
        <div class="type_msg">
            <div class="input_msg_write">
                <input type="message1" name="message" class="write_msg" placeholder="Input message" autocomplete="off"/>
                <button class="msg_send_btn" type="submit"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
            </div>
        </div>
    </form>
</div>


<!--&lt;!&ndash;<div class="f1">&ndash;&gt;-->
    <!--&lt;!&ndash;<div align="center" class="f3">&ndash;&gt;-->

        <!--<div class="container" style="margin-left: 210px">-->
            <!--&lt;!&ndash;<h3 class=" text-center">Личные сообщения</h3>&ndash;&gt;-->
            <!--<div class="messaging">-->
                <!--<div class="inbox_msg">-->
                    <!--<div class="inbox_people">-->
                        <!--<div class="headind_srch">-->
                            <!--<div class="recent_heading">-->
                                <!--<h4>Диалоги</h4>-->
                            <!--</div>-->

        <!--&lt;!&ndash;                    поиск диалогов&ndash;&gt;-->
        <!--&lt;!&ndash;                    <div class="srch_bar">&ndash;&gt;-->
        <!--&lt;!&ndash;                        <div class="stylish-input-group">&ndash;&gt;-->
        <!--&lt;!&ndash;                            <input type="text" class="search-bar"  placeholder="Search" >&ndash;&gt;-->
        <!--&lt;!&ndash;                            <span class="input-group-addon">&ndash;&gt;-->
        <!--&lt;!&ndash;                <button type="button"> <i class="fa fa-search" aria-hidden="true"></i> </button>&ndash;&gt;-->
        <!--&lt;!&ndash;                </span> </div>&ndash;&gt;-->
        <!--&lt;!&ndash;                    </div>&ndash;&gt;-->
                        <!--</div>-->

                        <!--<div class="inbox_chat" >-->
                            <!--<div class="chat_list" th:each="mesU : ${messageU}">-->
                                <!--<div class="chat_people">-->
                                    <!--<div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>-->
                                    <!--<div class="chat_ib" >-->
                                        <!--<a th:href="@{'/messageU/{recipient}'(recipient=${mesU.username})}">-->
                                            <!--<h5 th:utext="${mesU.username}">Sunil Rajput <span class="chat_date">Dec 25</span></h5>-->
                                        <!--</a>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->


                    <!--</div>-->
                    <!--<div class="mesgs">-->
                        <!--<div class="msg_history">-->

                            <!--<div th:each="mesS : ${messageS}">-->
                                <!--<div th:if="${mesS.sender != #httpServletRequest.remoteUser}" class="received_msg" >-->
                                    <!--<div class="received_withd_msg">-->
                                        <!--<p th:utext="${mesS.message}">Apollo University, Delhi, India Test</p>-->
                                        <!--<span class="time_date" th:utext="${mesS.date}"> 11:01 AM    |    Today</span> </div>-->
                                <!--</div>-->

                                <!--<div th:if="${mesS.sender == #httpServletRequest.remoteUser}" class="outgoing_msg" >-->
                                    <!--<div class="sent_msg">-->
                                        <!--<p th:utext="${mesS.message}">Apollo University, Delhi, India Test</p>-->
                                        <!--<span class="time_date" th:utext="${mesS.date}"> 11:01 AM    |    Today</span> </div>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->

                        <!--<form action="messageAdd?message1=message">-->
                        <!--<div class="type_msg">-->
                            <!--<div class="input_msg_write">-->
                                <!--<input type="message1" name="message" class="write_msg" placeholder="Input message" />-->
                                <!--<button class="msg_send_btn" type="submit"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--</form>-->
                    <!--</div>-->
                <!--</div>-->


<!--&lt;!&ndash;                <p class="text-center top_spac"> Design by <a target="_blank" href="#">Vadim Anpilogov</a></p>&ndash;&gt;-->

            <!--</div></div>-->

    <!--</div>-->
<!--</div>-->
</body>
</html>