<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>

<body th:replace="fragments/menu :: menu"></body>
<body>

<div >
    <div>
        <h1 style="color:#0000ff"> сообщения</h1>
    </div>
</div>

<form  action="messageAdd?message1=message">
    <table align="center" >
        <tr>
            <td width="400px">
                <p>Ваши сообщения пользователю:</p>
            </td>
            <td width="400px">
                <p>Сообщения от этого пользователя:</p>
            </td>
            <td width="400px">
                <p>Сообщения этому пользователя:</p>
            </td>
        </tr>
        <tr th:each="mesS : ${messageS}">
            <td width="400px" th:utext="${mesS.message}"></td>
            <td width="400px" th:utext="${mesS.recipient}"></td>
            <td width="400px" th:utext="${mesS.sender}"></td>
            <!--        <td width="400px" th:utext="${mesS.username}"></td>-->
        </tr>
        <tr th:each="mesS : ${messageS1}">
            <td width="400px" th:utext="${mesS.message}"></td>
            <td width="400px" th:utext="${mesS.recipient}"></td>
            <td width="400px" th:utext="${mesS.sender}"></td>
            <!--        <td width="400px" th:utext="${mesS.username}"></td>-->
        </tr>
        <tr>
            <td width="400px">
                <input type="message1" name="message"
                       placeholder="Введите ваше сообщение" required="true"/>
            <td> <input type="submit"value="Отправить"/></td>
            </td>
        </tr>


    </table>
</form>


</body>
</html>