<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/head :: head"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
</head>
<title>Курсы</title>
<!--<body th:replace="fragments/menu :: menu"></body>-->
<body th:replace="fragments/upMenu :: upMenu"></body>
<body th:replace="fragments/homeMenu :: homeMenu"></body>
<script src="/js/coursesSearch.js"></script>
<body>

<div class="myCoursesButtons">
    <table>
        <tr>
            <th>
                <a th:href="@{'/course'}">Все курсы</a>
            </th>
            <th>
                <a th:href="@{'/myCourse'}">Мои курсы</a>
            </th>
        </tr>
    </table>
</div>

<div class="coursesTiles" id="coursesTilesID2" th:if="${testUser != #httpServletRequest.remoteUser}">
    <table>
        <tr th:each="cor : ${myCourseUser}" id="TR2">
            <th>
                <h1 class="courseDetail">Название курса: </h1><h1 th:utext="${cor.courseName}" id="CourseName">Название курса</h1>
                <h3 class="courseDetail">Преподаватель: </h3><h3 th:utext="${cor.prepName}" >Преподаватель</h3>
                <h3 class="courseDetail">Область курса: </h3><h3 th:utext="${cor.region}">Область курса</h3>
                <h3 class="courseDetail">Занятия: </h3><h3 th:utext="${cor.format}">Онлайн/оффлайн</h3>
                <h3 class="courseDetail">Тип занятий: </h3><h3>Индивидуальные/групповые занятия</h3>
                <h2 class="courseDetail">Стоимость: </h2><h2 th:utext="${cor.price}">Цена</h2>
                <h2 class="courseDetail">Цена указана: </h2><h2 th:utext="${cor.priceType}">Цена</h2>
                <a th:href="@{'/SCourse={id}'(id=${cor.id})}">Перейти на курс</a>
            </th>
        </tr>

    </table>
</div>

<div class="coursesTiles" id="coursesTilesID" th:if="${testUser == #httpServletRequest.remoteUser}">
    <table>
        <tr th:each="cor1 : ${myCoursePrep}" id="TR1">
            <th>
                <h1 class="courseDetail">Название курса: </h1><h1 th:utext="${cor1.courseName}" id="CourseName">Название курса</h1>
                <h3 class="courseDetail">Преподаватель: </h3><h3 th:utext="${cor1.prepName}" >Преподаватель</h3>
                <h3 class="courseDetail">Область курса: </h3><h3 th:utext="${cor1.region}">Область курса</h3>
                <h3 class="courseDetail">Занятия: </h3><h3 th:utext="${cor1.format}">Онлайн/оффлайн</h3>
                <h3 class="courseDetail">Тип занятий: </h3><h3>Индивидуальные/групповые занятия</h3>
                <h2 class="courseDetail">Стоимость: </h2><h2 th:utext="${cor1.price}">Цена</h2>
                <h2 class="courseDetail">Цена указана: </h2><h2 th:utext="${cor1.priceType}">Цена</h2>
                <a th:href="@{'/SCourse={id}'(id=${cor1.id})}">Перейти на курс</a>
            </th>
        </tr>
    </table>
</div>

<div class="coursesMessage">
    <h4 th:utext="${messCourse}"></h4>
</div>

<div class="searchContainer">
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle searchCourseButton" onclick="openSearch()">Поиск курса</button>
        <div id="searchCourses" class="searchCourses">
            <a class="dropdown-item">
                <button class="btn btn-secondary" onclick="closeSearch()">Свернуть</button>
                <textarea maxlength="80" id="CourseNameID" onkeyup="filterCourseName()"></textarea>
            </a>
        </div>
    </div>
</div>

</body>
</html>