
<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="fragments/head :: head">

</head>
<head th:replace="fragments/style :: style">
<body th:replace="fragments/upMenu :: upMenu"></body>
<body th:replace="fragments/homeMenu :: homeMenu"></body>
<body>

<div style="margin-left: 250px; text-align: center; color: #eeeeee" class="lnd">

    <h1 class="lnd1" style="font-size: 45px">Развивайтесь вместе с нами</h1>

    <div>
        <img height="150" style="position: relative; top: 120px; right: 120px" src="https://s9.wampi.ru/2020/02/25/mathematics-euclidean-vector-middle-school-hand-drawn-junior-high-school-mathematics-formula-thumb.png">
        <img height="80" style="position: relative" src="https://s8.wampi.ru/2020/02/25/1_CaeO7W9pk_4OHG_7nf4-ZA-1240x380.png">
        <img height="150" style="position: relative; bottom: 40px; left: 80px" src="https://s8.wampi.ru/2020/02/25/167939.png">
        <img height="150" style="position: relative; left: 170px; top: 160px" src="https://s9.wampi.ru/2020/02/25/24-241977_picture-freeuse-library-bodybuilding-weights-and-dumbbells-dumbbell.png">
    </div>
    <div style="font-size: 20px; padding: 0 300px 150px 300px; font-style: oblique; font-family: 'Roboto', sans-serif">Здесь вы найдете любого необходимого вам преподавателя. Начиная от репетиторов по математике и программированию, и заканчивая преподавателем игры на гитаре и фитнес-тренером.</div>

    <table>
        <tr>
            <th style="padding-left: 200px; padding-bottom: 0"><img src="https://img.icons8.com/nolan/64/coin-in-hand.png"></th>
            <th style="padding-bottom: 0"><img src="https://img.icons8.com/nolan/64/rating.png"></th>
            <th style="padding-right: 200px; padding-bottom: 0"><img src="https://img.icons8.com/nolan/64/courses.png"></th>
        </tr>
        <tr>
            <th style="padding-left: 200px; padding-top: 10px">Платите только за необходимые занятия, а не за весь курс</th>
            <th style="padding-top: 10px">Сравнивайте преподавателей по рейтингу и отзывам</th>
            <th style="padding-right: 200px; padding-top: 10px">Записывайтесь на курсы, чтобы заниматься регулярно</th>
        </tr>

        <tr>
            <th style="padding-left: 200px; padding-bottom: 0"><img src="https://img.icons8.com/nolan/64/trophy.png"></th>
            <th style="padding-bottom: 0"><img src="https://img.icons8.com/nolan/64/test-passed.png"></th>
            <th style="padding-right: 200px; padding-bottom: 0"><img src="https://img.icons8.com/nolan/64/medal2.png"></th>
        </tr>
        <tr>
            <th style="padding-left: 200px; padding-top: 10px">Зарабатывайте достижения, чтобы соревноваться с другими пользователями</th>
            <th style="padding-top: 10px">Отслеживайте свой прогресс в обучении</th>
            <th style="padding-right: 200px; padding-top: 10px">Поднимайтесь на вершину рейтинга</th>
        </tr>
    </table>
    
<!--    <div><img style="padding: 100px 300px 50px 300px" src="https://psv4.userapi.com/c856236/u197279817/docs/d2/859b88dc28a2/premium-workspace-mockup.png?extra=O6-VItoinoCy-ZOp-aOp6SkKfnlSmRJOfeGL0Bbt-tjLtXusUPsjXCGq9c4oVkVpi67y9NttFedF_bhUxOfXvzPHNknANqKH6I72jYMvqVSe6iEckcsdrVzLeDvu7dXI7Fy1i2AqkdVau0OEH8WhfZgph8w"></div>-->
<!--    https://sun9-67.userapi.com/c857620/v857620321/181d80/ciTO_Spc-hs.jpg-->
    <div><img style="padding: 100px 300px 50px 300px" src="https://s8.wampi.ru/2020/02/25/lending.png"></div>

    <table>
        <tr>
            <th style="padding-left: 200px; padding-bottom: 0"><img src="https://img.icons8.com/nolan/64/important-mail.png"></th>
            <th style="padding-bottom: 0"><img src="https://img.icons8.com/nolan/64/help--v1.png"></th>
            <th style="padding-right: 200px; padding-bottom: 0"><img src="https://img.icons8.com/nolan/64/test-partial-passed.png"></th>
        </tr>
        <tr>
            <th style="padding-left: 200px; padding-top: 10px">Ведите личную переписку с преподавателями или любыми другими пользователями</th>
            <th style="padding-top: 10px">Задавайте вопросы, или пишите предложения по улучшению сервиса</th>
            <th style="padding-right: 200px; padding-top: 10px">Проходите тесты, специально созданные для вас преподавателями</th>
        </tr>

        <tr>
            <th style="padding-left: 200px; padding-bottom: 0"><img src="https://img.icons8.com/nolan/64/user-group-man-man.png"></th>
            <th style="padding-bottom: 0"><img src="https://img.icons8.com/nolan/64/street-view.png"></th>
            <th style="padding-right: 200px; padding-bottom: 0"><img src="https://img.icons8.com/nolan/64/gift.png"></th>
        </tr>
        <tr>
            <th style="padding-left: 200px; padding-top: 10px">Находите единомышленников в том, чем вы занимаетесь</th>
            <th style="padding-top: 10px">Занимайтесь один на один с преподавателем, если вам важен индивидуальный подход, или в группах, если не хотите переплачивать</th>
            <th style="padding-right: 200px; padding-top: 10px">Получайте бонусы за достижение новых уровней</th>
        </tr>
    </table>

</div>



</body>
</html>