
<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="fragments/head :: head">

</head>
<head th:replace="fragments/style :: style">
<body th:replace="fragments/homeMenu :: homeMenu"></body>
<body>

<div style="margin-left: 250px; text-align: center; color: #eeeeee" class="lnd">

    <h1 class="lnd1">Развивайтесь вместе с нами</h1>

    <table>
        <tr>
            <th>Платите только за необходимые занятия, а не за весь курс</th>
            <th>Сравнивайте преподавателей по рейтингу и отзывам</th>
            <th>Записывайтесь на курсы, чтобы заниматься регулярно</th>
        </tr>
        <tr>
            <th>Зарабатывайте достижения, чтобы соревноваться с другими пользователями</th>
            <th>Отслеживайте свой прогресс в обучении</th>
            <th>Поднимайтесь на вершину рейтинга</th>
        </tr>
    </table>

</div>



</body>
</html>