<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/head :: head"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
</head>
<title>Редактирование</title>
    <!--<body th:replace="fragments/menu :: menu"></body>-->
<body th:replace="fragments/upMenu :: upMenu"></body>
<body th:replace="fragments/homeMenu :: homeMenu"></body>
<body>

<div class="f1">
    <div class="persButtons">
        <table>
            <tr>
                <th>
                    <a th:href="@{'/Personal'}">Главная</a>
                </th>
                <th>
                    <a th:href="@{'/PersonalData'}">Мои данные</a>
                </th>

            </tr>
        </table>
    </div>
    <form  method="post" action="PersonalEdit?password?phone?email?username?fio?file" enctype="multipart/form-data">
    <div class="container">
        <div class="chat_list row" th:each="data : ${personalDataEdit}">

            <div class="col-md-auto dataGrid">
                <!--                <img class="pers" src="https://ptetutorials.com/images/user-profile.png" alt="sunil">-->
                <img class="pers" src="https://i9.wampi.ru/2020/03/01/s1200-1.webp" alt="sunil">

                    <button type="submit" class="btn btn-outline-info buttonPers">Сохранить изменения</button>

            </div>
            <div class="col-6 personalDataEdit" >
                <h5>ФИО</h5>
                <input type="fio1" value="fio" th:attr="value=${data.user.fio}" name="fio" class="form-control inputField" autocomplete="off" placeholder="Введите Ваше ФИО" required>
                <h5>Телефон</h5>
                <input type="phone1" value="fio" th:attr="value=${data.user.phone}" name="phone" class="form-control inputField" autocomplete="off" placeholder="Введите Ваше ФИО" required>
                <h5>Почта</h5>
                <input type="email1" value="fio" th:attr="value=${data.user.email}" name="email" class="form-control inputField" autocomplete="off" placeholder="Введите Ваше ФИО" required>
                <h5>Никнейм</h5>
                <input type="username1" value="fio" th:attr="value=${data.username}" name="username" class="form-control inputField" autocomplete="off" placeholder="Введите Ваше ФИО" required>
                <h5 style="color: #dd3333" th:text="${UserMessage}"></h5>
                <input type="file" name="file" th:attr="value=${data.user.fileName}">
                <img style="width: 900px" th:src="${data.user.fileName}"  >
<!--                <h5>Пароль</h5>-->
<!--                <input type="password1" value="fio" th:attr="value=${data.password}" name="password" class="form-control inputField" autocomplete="off" placeholder="Введите Ваше ФИО" required>-->



<!--                <h4 th:utext="${data.username}">Sunil Rajput <span class="chat_date">Dec 25</span></h4>-->
<!--                <h4 th:utext="${data.fio}">Sunil Rajput</h4>-->
<!--                <h4 th:utext="${data.phone}">Sunil Rajput</h4>-->
<!--                <h4 th:utext="${data.email}">Sunil Rajput</h4>-->
            </div>

        </div>
    </div>
    </form>


</div>

</body>
</html>