<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/head :: head"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
</head>
<head th:replace="fragments/style :: style">
<!--<body th:replace="fragments/menu :: menu"></body>-->
<body th:replace="fragments/upMenu :: upMenu"></body>
<body th:replace="fragments/homeMenu :: homeMenu"></body>
<body>

<div class="f1">
    <div align="center" class="f2">
        <h3 class=" text-center">Преподаватели</h3>
        <br>

        <table class="table-responsive-xl table-hover " align="center" th:width="1000" >
            <thead class="thead-inverse">
            <tr>
                <!--        <th scope="col">#</th>-->
                <th scope="col">Имя преподавателя</th>
                <th scope="col">Просмотр</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="prep : ${prepod}">
                <td th:utext="${prep.username}"></td>
                <td ><a class="cont" th:href="@{'/prepName/{prepName}'(prepName=${prep.username})}"><h5>Перейти на страницу</h5></a></td>
            </tr>

            </tbody>
        </table>
    </div>

</div>







</body>
</html>