<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/head :: head"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
</head>

<!--<body th:replace="fragments/menu :: menu"></body>-->
<body th:replace="fragments/menuPersonal :: menuPersonal"></body>
<body>

<h1  align="center" style="color:#0000ff">Преподаватели</h1>
<br>

<table class="table-responsive-xl table-hover " align="center" th:width="1000" >
    <thead class="thead-inverse">
    <tr>
        <!--        <th scope="col">#</th>-->
        <th scope="col">Имя преподавателя</th>
        <th scope="col">Просмотр</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="prep : ${prepod}">
        <td th:utext="${prep.username}"></td>
        <td ><a th:href="@{'/prepName/{prepName}'(prepName=${prep.username})}"><h5>Перейти на страницу</h5></a></td>
    </tr>

    </tbody>
</table>



</body>
</html>