<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
</head>
<head th:replace="fragments/style :: style">
<body th:replace="fragments/upMenu :: upMenu"></body>
<body th:replace="fragments/homeMenu :: homeMenu"></body>

<body class="login-page">

<div class="scroll">
    <main>
        <div class="login-block">
            <h1>Ты хочешь зарегистрироваться как:</h1>
            <form action="user" >
                <button class="btn btn-primary btn-block" type="submit">Студент</button>
            </form>

            <h1>или</h1>

            <form action="admin" >
                <button class="btn btn-primary btn-block" type="submit">Преподователь</button>
            </form>
        </div>

        <div class="login-links">
            <p class="text-center">Уже есть аккаунт? <a class="txt-brand" href="login"><font color=#29aafe>Авторизуйся</font></a></p>
        </div>
    </main>
</div>

</body>
</html>