<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Boot - AJAX POST GET Example</title>



    <head th:replace="fragments/head :: head"></head>
    <head th:replace="fragments/style :: style"></head>
    <!--<body th:replace="fragments/menu :: menu"></body>-->

<body th:replace="fragments/homeMenu :: homeMenu"></body>
<script src="/js/postrequest.js"></script>
<script src="/js/getrequest.js"></script>
</head>
<body th:replace="fragments/upMenu :: upMenu"></body>
<body>
<div class="container">

<!--    <h3 style="color:blue">POST-GET AJAX Example</h3>-->

<!--    <div>-->
<!--        <form class="form-inline" style="margin:20px 20px 20px 20px" id="customerForm1">-->
<!--            <div class="form-group">-->
<!--                <label for="reviewsOp1" style="margin-right:5px">reviewsOp:</label>-->
<!--                <input type="text" class="form-control" id="reviewsOp1" placeholder="Enter reviewsOp"/>-->
<!--            </div>-->
<!--&lt;!&ndash;            <div class="form-group">&ndash;&gt;-->
<!--&lt;!&ndash;                <label for="authorReviews" style="margin-left:20px; margin-right:5px">authorReviews:</label>&ndash;&gt;-->
<!--&lt;!&ndash;                <input type="text" class="form-control" id="authorReviews" placeholder="Enter authorReviews"/>&ndash;&gt;-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->
<!--            <button type="submit" class="btn btn-default" style="margin-left:20px; margin-right:5px; color: #e5e7ed">Submit</button>-->
<!--        </form>-->
<!--    </div>-->

    <div class="col-sm-7" id="postResultDiv">
    </div>

    <div class="col-sm-7" style="margin:20px 0px 20px 0px">
    <button id="getAllCustomerId" type="button" class="btn btn-primary">Get All Customers</button>
    <div id="getResultDiv" style="padding:20px 10px 20px 50px">
        <ul style="color: #e5e7ed" class="list-group">
        </ul>
    </div>
</div>

</div>




<!--    <div class="reviews">-->
<!--        <div class="review" th:each="mesS : ${reviewsMessage}">-->
<!--            <h4 class="reviewName" th:utext="${mesS.authorReviews}"> 11:01 AM    |    Today </h4>-->
<!--            <span class="time_date" th:utext="${mesS.date}"> 11:01 AM    |    Today</span>-->
<!--            <div class="reviewText">-->
<!--                <p th:utext="${mesS.reviewsOp}">Apollo University, Delhi, India Test</p>-->
<!--            </div>-->
<!--        </div>-->
<!--        <span id="endpage"></span>-->
<!--    </div>-->

<div class="reviewEnter">
    <div class="reviewWrite">
        <form id="customerForm">
            <textarea id="reviewsOp" maxlength="1000" type="message1" name="reviewsOp" class="reviewWriteArea" placeholder="Поделитесь вашими впечатлениями от использования сервиса" autocomplete="off" required></textarea>
            <button class="msg_send_btn" type="submit"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
        </form>
    </div>
</div>

</body>
</html>