<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml"
      xmlns:https="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/head :: head"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
</head>
<head th:replace="fragments/style :: style">
<!--<body th:replace="fragments/menu :: menu"></body>-->
<body th:replace="fragments/upMenu :: upMenu"></body>
<body th:replace="fragments/homeMenu :: homeMenu"></body>
<body>
<div class="f1">
    <div align="center" class="f2">
        <h3 class=" text-center">Запись на курс</h3>
        <div class="container">
            <!--        <h3 class=" text-center">Отзывы</h3>-->

            <div class="chat_list" th:each="cors : ${courses}">
                <div class="chat_people row">
<!--                    <div class="col-md-auto"> <img class="pers" src=https://img.icons8.com/dusk/128/000000/student-male.png" alt="sunil">-->
<!--&lt;!&ndash;                        <div>&ndash;&gt;-->
<!--&lt;!&ndash;                            <a class="cont" th:href="@{'/messageR/{sender}'(sender=${#httpServletRequest.remoteUser})}">Личные сообщения</a>&ndash;&gt;-->
<!--&lt;!&ndash;                        </div>&ndash;&gt;-->

<!--                    </div>-->
                    <div class="col-6" >

                        <h4 align="center">Название курса <span class="chat_date">Dec 25</span></h4>
                        <h4 align="center" th:utext="${cors.courseName}">Sunil Rajput</h4>
                        <a class="cont" th:href="@{'/signCourse/{user}'(user=${#httpServletRequest.remoteUser})}">
                            <h4>Записаться</h4>
                        </a>
        <!--                <h4 align="center" th:if="${data.rl == 1}">Студент</h4>-->
        <!--                <h4 align="center" th:if="${data.rl == 0}">Преподаватель</h4>-->
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>


<!--<h1  align="center" style="color:#0000ff">Курс</h1>-->
<!--<br>-->
<!--<form>-->
<!--    <table align="center">-->
<!--        <tr th:each="cors : ${courses}">-->
<!--            <td>-->
<!--                Название курса-->
<!--            </td>-->
<!--            <td th:utext="${cors.courseName}"></td>-->
<!--            <td ><a th:href="@{'/signCourse/{user}'(user=${#httpServletRequest.remoteUser})}"><h5>Записаться</h5></a></td>-->
<!--        </tr>-->


<!--    </table>-->
<!--</form>-->


</body>
</html>