<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/head :: head"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
</head>
<head th:replace="fragments/style :: style">
<!--<body th:replace="fragments/menu :: menu"></body>-->
<body th:replace="fragments/upMenu :: upMenu"></body>
<body th:replace="fragments/homeMenu :: homeMenu"></body>
<body>
<div class="f1">
    <div align="center" class="f2">
        <h3 class=" text-center">Страница пользователя</h3>
<!--<h1  align="center" style="color:#0000ff">Страница пользователя</h1>-->
<!--<h3 style="color:#0000ff">Вот ваши личные данные</h3>-->
        <br>
        <!--<a th:href="@{'/messageR/{recipient}'(recipient=${#httpServletRequest.remoteUser})}">Личные сообщения</a>-->


            <div class="container">
                <!--        <h3 class=" text-center">Отзывы</h3>-->

                <div class="chat_list" th:each="data : ${personalData}">
                    <div class="chat_people row">
                        <div class="col-md-auto"> <img class="pers" src="https://ptetutorials.com/images/user-profile.png" alt="sunil">
                            <div>
                                <a class="cont" th:href="@{'/messageR/{sender}'(sender=${#httpServletRequest.remoteUser})}">Личные сообщения</a>
                            </div>
                        </div>
                        <div class="col-6" >

                            <h4 align="center" th:utext="${data.username}">Sunil Rajput <span class="chat_date">Dec 25</span></h4>
                            <h4 align="center" th:utext="${data.fio}">Sunil Rajput</h4>
                            <h4 align="center" th:if="${data.rl == 1}">Студент</h4>
                            <h4 align="center" th:if="${data.rl == 0}">Преподаватель</h4>
                        </div>

                    </div>
                </div>

            </div>

        <form  action="messageAdd?reviews1=reviews">
            <div class="container">
                <h3 class=" text-center">Отзывы</h3>
                <div class="messaging">
                    <div align="center">
                        <input class="form-control" type="reviews1" name="reviews"
                               placeholder="Введите ваше сообщение" required="true"/>
                        <input type="submit"value="Отправить"/>
                    </div>
                    <div class="chat_list" th:each="rev : ${reviews}">
                        <div class="chat_people">
                            <div class="chat_img"> <img class="rew" src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                            <div class="chat_ib" >
<!--                                <a th:href="@{'/prepName/{prepName}'(prepName=${rev.authorReviews})}">-->
                                    <h5 class="cont1" th:utext="${rev.authorReviews}">Sunil Rajput <span class="chat_date">Dec 25</span></h5>
<!--                                </a>-->
                                <h5 class="cont1" th:utext="${rev.reviewsOp}"></h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

</div>

</body>
<!--<body th:replace="fragments/reviewsFr :: reviewsFr"></body>-->
</html>