<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/head :: head"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
</head>

<body th:replace="fragments/menu :: menu"></body>
<body th:replace="fragments/menuPersonal :: menuPersonal"></body>
<body>

<h1  align="center" style="color:#0000ff">Курсы</h1>
<br>
<form>
    <table align="center">
        <tr>
            <td>
                <p>Студенты</p>
            </td>
            <td></td>
        </tr>
        <tr th:each="stud : ${student}">
            <td th:utext="${stud.username}"></td>
        </tr>

    </table>
</form>


</body>
</html>