<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/head :: head"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
</head>

<!--<body th:replace="fragments/menu :: menu"></body>-->
<body th:replace="fragments/menuPersonal :: menuPersonal"></body>
<body>

<h1  align="center" style="color:#0000ff">Страница пользователя</h1>
<!--<h3 style="color:#0000ff">Вот ваши личные данные</h3>-->
<br>
<!--<a th:href="@{'/messageR/{recipient}'(recipient=${#httpServletRequest.remoteUser})}">Личные сообщения</a>-->


<form  action="messageAdd?reviews1=reviews">
    <div class="container">
        <h3 class=" text-center">Отзывы</h3>
        <div class="messaging">
            <div align="center">
                <input type="reviews1" name="reviews"
                       placeholder="Введите ваше сообщение" required="true"/>
                <input type="submit"value="Отправить"/>
            </div>
            <div class="chat_list" th:each="rev : ${reviews}">
                <div class="chat_people">
                    <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                    <div class="chat_ib" >
                        <a th:href="@{'/prepName/{prepName}'(prepName=${rev.authorReviews})}">
                            <h4 th:utext="${rev.authorReviews}">Sunil Rajput <span class="chat_date">Dec 25</span></h4>
                        </a>
                        <h4 th:utext="${rev.reviewsOp}"></h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</form>


</form>

</body>
<!--<body th:replace="fragments/reviewsFr :: reviewsFr"></body>-->
</html>