<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/head :: head"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
</head>
<body th:replace="fragments/upMenu :: upMenu"></body>
<body th:replace="fragments/homeMenu :: homeMenu"></body>
<body>

<div class="scroll">
    <div class="names" th:each="usr : ${users}">
        <h2 align="center" th:utext="${usr.user.fio}"></h2>
    </div>

    <table style="margin: auto" th:each="usr : ${users}">
        <tr>
            <th>
                <div class="photoPers">
                    <img src="https://i9.wampi.ru/2020/03/01/s1200-1.webp">
                    <form th:action="@{'/messageUsers/{recipient}'(recipient=${usr.username})}">
                        <button type="submit" class="btn btn-outline-info buttonPers">Написать сообщение пользователю</button>
                    </form>
                </div>
            </th>
            <th>
                <div class="DataPers">
                    <h6 class="courseDetail">ФИО: </h6><h6 th:utext="${usr.user.fio}">Название курса</h6>
                    <h6 class="courseDetail">Почта: </h6><h6 th:utext="${usr.user.email}" >Преподаватель</h6>
                    <h6 class="courseDetail">Телефон: </h6><h6 th:utext="${usr.user.phone}">Область курса</h6>
                    <h6 class="courseDetail">Статус: </h6><h6 th:utext="${usr.roles}">Онлайн/оффлайн</h6>
                    <h6 class="courseDetail">Звание: </h6><h6>Джуниор</h6>
                    <h6 class="courseDetail">Последнее достижение: </h6><h6>Фото аватара</h6>
                    <h6 class="courseDetail">Рейтинг: </h6><h6>3358</h6>
                    <h6 class="courseDetail">Место в рейтинге: </h6><h6>100</h6>
                </div>
            </th>
        </tr>
    </table>

    <div class="f11">
        <div class="myCourseText1">
            <h4>Курсы пользователя</h4>
        </div>
        <div id="carouselExampleIndicators" class="carousel slide myCourse" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1" th:each="cor : ${course}"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="coursesTil">
                        <table>
                            <tr >
                                <th>

                                    <h1 class="courseDetail">Здесь будут все ваши курсы, на которые вы подписались</h1>

                                </th>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="carousel-item" th:each="cor : ${course}">
                    <div class="coursesTil">
                        <table>
                            <tr >
                                <th>

                                    <h1 class="courseDetail">Название курса: </h1><h1 th:utext="${cor.courseName}">Название курса</h1>
                                    <h3 class="courseDetail">Преподаватель: </h3><h3 th:utext="${cor.prepName}" >Преподаватель</h3>
                                    <h3 class="courseDetail">Область курса: </h3><h3 th:utext="${cor.region}">Область курса</h3>
                                    <h3 class="courseDetail">Занятия: </h3><h3 th:utext="${cor.format}">Онлайн/оффлайн</h3>
                                    <h3 class="courseDetail">Стоимость: </h3><h3 th:utext="${cor.price}">Цена</h3>
                                    <h3 class="courseDetail">Цена указана: </h3><h3 th:utext="${cor.priceType}">Цена</h3>
                                    <a th:href="@{'/SCourse/{course}'(course=${cor.courseName})}">Перейти на курс</a>
                                </th>
                            </tr>
                        </table>
                    </div>

                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</div>

</body>
</html>