<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/head :: head"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
</head>
<head th:replace="fragments/style :: style">
    <!--<body th:replace="fragments/menu :: menu"></body>-->
<body th:replace="fragments/upMenu :: upMenu"></body>
<body th:replace="fragments/homeMenu :: homeMenu"></body>
<body>


<div class="coursesTiles">
    <table>
        <tr th:each="usr : ${users}">
            <th>
                <h1>Имя пользователя:</h1>
                <h2 th:utext="${usr.username}">Область курсов</h2>
                <a th:href="@{'/userPers/{username}'(username=${usr.username})}">Перейти на страницу пользователя</a>
            </th>
        </tr>
    </table>
</div>

</body>
</html>